body {
    background-image: url("./Terbo-Team.jpg");
    background-color: #ffffff;
}

.jumbotron {
    background-color: #ffffff;

}

.card-header {
    background-color: #ffffff;
}

.card {
margin-right: 10px;
margin-top: 10px;
}



